        </div>
    </div>
    <footer>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <p style="margin: 0;">© <%= new Date().getFullYear() %> Grupo Lockey. Todos los derechos reservados.</p>
            <img src="img/footer.png" alt="Grupo Lockey" class="imgFooter">
        </div>
    </footer>
    <script src="js/popper.js"></script>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/select2.full.js"></script>
    <script src="js/datatables.js"></script>
    <script src="js/tablessys.js"></script>
    <script src="js/funcionesindex.js"></script>
    <script src="js/jqueryfunciones.js"></script>

</body>
</html>
