        </div>
    </div>
    <footer>
        <p>© <%= new Date().getFullYear() %> Grupo Lockey. Todos los derechos reservados.</p>
    </footer>
    <script src="./src/js/popper.js"></script>
    <script src="./src/js/bootstrap.js"></script>
</body>
</html>