.formResponsive{
    width: 20vw;
} 
.none{
    display: contents;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2b3035;
}

.imgFooter{
    width: 20vw;
}

@media (max-width: 431px){
    .formResponsive{
        width: 40vw;
    } 
    .tableBtns{
        display: flex;
        justify-content: space-between;
    }
    .none{
        display: none;
    }
    .imgFooter{
    width: 50vw;
}
}