<%- include('partials/header') %>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo de Solicitud</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Constancia de Trabajo</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"><i class="bi bi-check2"></i> Aprobar</button>
                        <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i> Denegar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Préstamos</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"><i class="bi bi-check2"></i> Aprobar</button>
                        <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i> Denegar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>John</td>
                    <td>Doe</td>
                    <td>Adelanto de Prestaciones Sociales</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"><i class="bi bi-check2"></i> Aprobar</button>
                        <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i> Denegar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer') %>