<%- include('partials/header') %>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Constancia de trabajo</h5>
        <p class="card-text"><i class="bi bi-exclamation-circle" style="color: #dc3545;"></i> Tiene solo tres meses de validez</p>
        <a href="#" class="btn btn-success"> <i class="bi bi-box-arrow-up"></i> Solicitar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Adelanto de Prestaciones Sociales</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success"> <i class="bi bi-box-arrow-up"></i> Solicitar</a>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>